// Настройка стилей корневых элементов документа

html {
	@each $group in $config {
		$groupName: map-get($group, 'name');
		$selector: map-get($group, 'selector');
		$items: map-get($group, 'options');
		@if $groupName == 'font-size-root' {
			@each $item in $items {
				$media: map-get($item, 'media');
				$mediaString: map-get($item, 'mediaString');
				@include media(m, $media) {
					font-size: var(--#{$selector}-#{$mediaString});
				};
			}
		}

	}
}

body {
  display: flex;
  flex-direction: column;
  
  font-family: var(--font), sans-serif;
  font-size: var(--font-size);
  color: var(--font-color);
  line-height: 1.3;
  font-weight: 400;
	
  background-color: var(--background-color);
  &.scroll-hidden {
    overflow: hidden;
    padding-right: 17px;
  }
}



