.form-select {
  &--base {
    background-color: transparent;
    border-color: transparent;
    padding: 0;
    background: none;
		.select2 {
			width: 100% !important;
		}
		.select2-selection {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			padding: 0.5em 1em .5em 0;
			border-radius: var(--border-radius-primary-base);
			border-color: var(--border-color-primary-primary);
			background-color: var(--background-color-secondary-primary);
			
			min-height: 2.85em;
		}
		.select2-search__field {
			margin: 0 !important;
			font-size: var(--font-size-text-fourth) !important;
			color: var(--color-font-base-primary);
			line-height: 1;
			height: 1em !important;
			// padding: 0.5em 0 !important;
			@include iph() {
				color: var(--color-font-base-fourth);
				font-size: var(--font-size-text-fourth);
				line-height: 1;
			}
		}
		.select2-container--focus {
			.select2-selection {
				border-color: var(--border-color-secondary-secondary);
			}
			& + .select2-container {
				
				.form-select__dropdown {
					border-color: var(--border-color-secondary-secondary);
				}
			}
		}
		.form-select__dropdown {
			border-radius: var(--border-radius-primary-base);
			border-color: var(--border-color-primary-primary);
			background-color: var(--background-color-secondary-primary);			
		}
		.select2-results__option {
			padding: 0.6em 1em;
			border-top: 1px solid var(--border-color-primary-primary);
			border-bottom: 1px solid var(--border-color-primary-primary);
			font-size: var(--font-size-text-fourth);
			color: var(--color-font-base-secondary);
		}
		.select2-results__option--highlighted {
			background-color: var(--background-color-third-primary);
			color: var(--color-font-third-primary);
		}
		.select2-results__option--selected {
			background-color: var(--background-color-third-secondary) !important;
			color: var(--color-font-base-secondary) !important;
			border-color: var(--border-color-secondary-secondary) !important;
			&.select2-results__option--highlighted {
				// background-color: transparent !important;
			}
		}
		.select2-selection__rendered {
			margin-bottom: 0;
		}
		.select2-search {
			margin-left: 1em;
			display: flex;
			align-items: center;
		}
		.select2-selection__choice {
			background-color: transparent !important;
			border-color: transparent !important;
			display: inline-flex !important;
			align-items: center;
			margin: 0 !important;
			padding: 0 !important;
			margin-left: 0.5em !important;
		}
		.select2-selection__choice__remove {
			border-right-color: transparent !important;
			font-size: 1.3em !important;
			position: static !important;
			line-height: 1em;
			&:hover {
				background-color: transparent !important;
			}
		}
  }
}