.form-check {
  .form-check-input:focus {
    &:focus {
      box-shadow: none;
    }
  }
  .form-check-label {
    color: var(--color-font-base-secondary);
    a {
      color: var(--color-font-base-secondary);
      font-weight: 700;
    }
  }
	&--checkbox {
		padding-left: 0;

		font-size: var(--font-size-text-fourth);
		color: var(--color-font-base-secondary);
	  .form-check-input {
			@extend .input-hidden;
			&:checked + label {
				&:before {
					background-color: var(--background-color-third-primary);
					border-color: var(--border-color-secondary-primary);
				}
				&:after {
					opacity: 1;
					visibility: visible;
				}
			}
		}		
		.form-check-label {
			position: relative;
			padding-left: 2.2em;
			min-height: 1.428em;
			display: flex;
			flex-direction: column;
			justify-content: center;
			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 20px;
				height: 20px;
				border-color: var(--border-color-primary-primary);
				background-color: var(--background-color-secondary-primary);
				border-radius: var(--border-radius-primary-start);
			}
			&:after {
				content: '';
				position: absolute;
				top: 5px;
				left: 5px;

				display: block;
				width: 10px;
				height: 10px;

				background-image: url('../img/icon-check-base.svg');
				background-position: 0 0;
				background-repeat: no-repeat;
				background-size: 10px 10px;

				opacity: 0;
				visibility: hidden;
			}
		}
	}
	&--radio {
		@extend .form-check--checkbox;
		.form-check-label {
			&:before {
				border-radius: 50%;
			}
			&:after {
				top: 7px;
				left: 7px;
				background: none;
				width: 6px;
				height: 6px;
				border-radius: 50%;
				background-color: var(--background-color-secondary-primary);
			}
		}
	}
	&--tag {
		display: inline-flex;
		flex-direction: column;
		padding: 0;
		.form-check-input {
			@extend .input-hidden;
			&:checked + label {
				&:before {
					opacity: 1;
					visibility: visible;
				}
			}
		}
		.form-check-label {
			position: relative;
			display: inline-flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			min-height: 2.15em;
			padding: 0.35em 1em;
			border: 1px solid var(--border-color-primary-primary);
			border-radius: var(--border-radius-primary-base);
			
			
			text-align: center;
			font-weight: 700;
			font-size: var(--font-size-text-fourth);
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				border: 2px solid var(--border-color-secondary-primary);
				border-radius: var(--border-radius-primary-base);
				opacity: 0;
				visibility: hidden;
			}
		}
	}
	&--circle {
		padding: 0;
		display: inline-flex;
		flex-direction: column;
		.form-check-input {
			@extend .input-hidden;
			&:checked + label {
				.svg-icon {
					opacity: 1;
					visibility: visible;
				}
			}
		}
		.form-check-label {
			border: 1px solid var(--border-color-primary-primary);
			border-radius: 50%;
			width: 2.5em;
			height: 2.5em;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			
			font-size: var(--font-size-icon-third);
			color: var(--color-font-base-fourth);
		}
		.svg-icon {
			opacity: 0;
			visibility: hidden;
		}
		&--white {
			.form-check-label {
				background-color: var(--background-color-secondary-primary);
			}
		}
		&--gray {
			.form-check-label {
				background-color: var(--background-color-primary-fourth);
			}
		}
	}
}