<div class="modal modal--base fade" id="modal-order" tabindex="-1" role="dialog" aria-labelledby="modal-order-title" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-order-title">Заказать подбор оборудования</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <!-- <button class="btn btn-primary" type="button">Save changes</button> -->
        <button class="button button--secondary--large" type="submit">Оставить заявку</button>
      </div>
    </div>
  </div>
</div>