// @if $config {
// 	@each $configGroup in $config {
// 		$groupName: map-get($configGroup, 'name');
// 		$selector: map-get($configGroup, 'selector');
// 		$list: map-get($configGroup, 'options');
// 		@if $groupName == 'border-radius' {
// 			@each $listItem in $list {
// 				$key: map-keys($listItem);
// 				.#{$selector}-#{$key} {
// 					border-radius: var(--#{$selector}-#{$key});
// 				}
// 			}
// 		}
// 	}
// }