@mixin set-typography($type, $groupName, $name, $index, $value) {
	$new_index: if($index != null, $index, '');
	$value: if($index != null, var(--#{$groupName}-#{$new_index}), var(--#{$groupName}-#{$name}));
	#{$type}#{$new_index} {
		font-size: $value;
	}
}